@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  /* background-color: #252b33; */
   /* background-image: './public/assets/background.png'; */
   background-image: url('/assets/background.png');

  height: 100%;

  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover; 
  color: white;
}

.purple-gradtext {
  @apply bg-gradient-to-r text-transparent from-pink-300 to-wisteria bg-clip-text;
}